.container {
  height: 100%;
  background-color: #FFFD38;
  border: 1px solid #000;
  padding: 2.5% 1.5%;
}

.header  {
  background-color: #0B24FB;
  height: 150px;
  border: 1px solid #000;
}

.nav {
  height: 50px;
  background-color: #0F7F12;
  border: 1px solid #000;
}

.content {
  height: 200px;
  background-color: #FC0D1B;
  border: 1px solid #000;
}

.aside {
  height: 200px;
  background-color: #2CFFFE;
  border: 1px solid #000;
}

.promo {
  background-color: #FDA428;
  height: 150px;
  border: 1px solid #000;
}

.footer {
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000;
}

.text {
  padding: 5px 0 0 5px;
}
